.overview {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--black-100);
  border: 1px solid var(--black-85);
  box-sizing: border-box;
  width: 137px;
  height: 36px;
}
.lastMonth {
  position: absolute;
  top: 6px;
  left: 14px;
  line-height: 24px;
}
.iconsarrow {
  position: absolute;
  top: 10px;
  left: 107px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.rectangleParent {
  position: relative;
  width: 137px;
  height: 36px;
}
.groupWrapper,
.overviewParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.groupWrapper {
  justify-content: flex-start;
  font-size: var(--sub-title-regular-size);
  color: var(--black-30);
}
.overviewParent {
  align-self: stretch;
  justify-content: space-between;
}
.outlinedSettings {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.textHere {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.pills {
  border-radius: var(--br-21xl);
  background-color: var(--primary-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-base);
  gap: var(--gap-7xs);
}
.outlinedSettings2 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.pills1 {
  border-radius: var(--br-21xl);
  background-color: var(--black-90);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-base);
  gap: var(--gap-3xs);
  color: var(--black-50);
}
.frameGroup,
.pillsParent {
  align-items: flex-start;
  justify-content: flex-start;
}
.pillsParent {
  display: none;
  flex-direction: row;
  gap: var(--gap-xs);
  font-size: var(--body-2-medium-size);
  color: var(--black-100);
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}
.onlineOrders {
  position: relative;
  line-height: 24px;
}
.onlineOrdersParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.div {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 38px;
  font-weight: 500;
  color: var(--black-12);
}
.frameDiv,
.frameParent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  align-self: stretch;
  gap: var(--gap-base);
}
.frameDiv {
  flex: 1;
  border-radius: var(--spacing-spacing-04);
  background-color: var(--black-100);
  box-shadow: var(--shadow-card);
  padding: var(--padding-xl);
}
.frameWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div1,
.link1 {
  position: relative;
  line-height: 38px;
  font-weight: 500;
}
.link1 {
  text-decoration: underline;
  line-height: 20px;
}
.link,
.parent {
  flex-direction: row;
}
.link {
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-2-medium-size);
  color: var(--primary-blue);
  font-family: var(--heading-h5);
}
.parent {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link3 {
  position: relative;
  text-decoration: underline;
  line-height: 24px;
  font-weight: 500;
}
.link2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.outlinedChevronRight {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameContainer,
.frameParent,
.frameParent3,
.linkParent {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.linkParent {
  display: none;
  font-size: var(--sub-title-regular-size);
  color: var(--primary-blue);
  font-family: var(--heading-h5);
}
.frameContainer,
.frameParent,
.frameParent3 {
  align-self: stretch;
  display: flex;
  gap: var(--gap-base);
  font-size: var(--font-size-13xl);
  color: var(--black-12);
}
.frameContainer,
.frameParent {
  align-items: flex-start;
  gap: var(--gap-xl);
  font-size: var(--sub-title-regular-size);
  color: var(--black-30);
}
.frameParent {
  flex-direction: column;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--heading-h5-size);
  color: var(--black-12);
  font-family: var(--sub-title-regular);
}
